
html {
  scroll-behavior: smooth;
}


#home {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
   background: linear-gradient(to bottom, #c5dffb, #6caefe, #adbffe);
}



body {
  font-family: 'Segoe UI', sans-serif;
  justify-content: center;
  align-items: center;
  max-width: 100vw;
  max-height: 100vh;
  color: #333;
  background:linear-gradient(to bottom,#8abaf5,#c9e0fc ,#c5dffb );
  background-size: cover;
 

  
}
.brand span{
  color:#023d67;
  font-size:1.6rem;
  font-weight: 700;
}
.hero-section {

background: linear-gradient(to bottom, #c5dffb, #6caefe, #929cec);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  width: 90%;
  margin-left: 20%;
  max-width: 60%;
   display: flex;
   align-items: center;
   justify-content: center;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 20px;
  height: auto;
  max-height: 75vh;
  overflow: hidden;
}


.hero-section h1{
  font-size:2.2rem;
  color: #023986;
  max-width: 80%;

}
.text-content{
  position: fixed;
  left:1%;
  top: 10%;
}
.hero-section .role{
  font-size: 1rem;
  color: #012e4e;
  display:block ;
  font-weight: 600;
  padding-inline: 5px;
  z-index: 2;
  
}
.hero-section .description{
  font-size: 1rem;
  color: #012e4e;
  line-height: 1.5;
  font-weight: 500;
  padding-inline: 5px;
  z-index: 2;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.buttons{
  padding-top: 10px;
  gap: 20px;
  display: flex;
  
}

.primary-btn
{
  text-decoration: none;
 transition: 0.3s;
 font-size: 1rem;
 font-weight: 600; 
 background: rgba(140, 196, 239, 0.3);
 border-radius: 20px;
 border:1.5px solid #91b9fd;
 padding: 10px 30px;
 color: #023986;
}
.primary-btn:hover {
  transform: scale(1.03);
  background:#8cb6f1;
  color: #fff;
  transition: transform 0.5s ease;
}
 .container .profile-img {
  width: 40%;
  height: auto;
 object-fit: cover;
 opacity: 0.8;
transition: transform 0.7s ease;
  object-fit:contain;
  padding: 90px 40px ;
  position: fixed;
}

.profile-img:hover {
  transform: scale(1.05);
  transition: transform 0.7s ease;
}
@media (max-width: 600px) {
    .container .profile-img {
    position: fixed;
    width: 35%;
    padding: 100px 90px;

  }
  .hero-section{
    max-height:70vh ;
    max-width: 100%;
  }
}
@media(max-width:900px){
     .container .profile-img {
    margin: auto;
    padding: auto;
    width: 50%;
    padding:90px 0px;
    position: fixed;
  }
  .hero-section{
    width: 100%;
    padding: 0px 20px;
    height: 60vh;
  }


}
@media(min-width:1000px){
    .container .profile-img {
    margin: auto;
    padding: auto;
    width: 50%;
    padding: 0px 20px;
    position: fixed;
  }
  .hero-section{
    max-height: 60vh;
  }
}

@media (max-width: 490px){
 
  .hero-section{
    min-width: 100%;
    padding: 0px 55px;
    height: auto;
    max-height: 65vh;
    margin: auto;
  }
  .text-content{
   display: flex;
   flex-direction: column;
    margin:auto;
    padding: auto;
}
  .container .profile-img {
    position: relative;
    width: 50%;
    position: fixed;
    padding: 20px ;
    
  }
  .hero-section .description{
    font-size: larger;
    padding: 1px 0px;
    
  }
  .primary-btn
{
 font-size: 1.3rem;
}
.buttons{
  gap: 40px;
  margin-top: 10%;
}



}



