
html {
  scroll-behavior: smooth;
}
body {
  font-family: 'Segoe UI', sans-serif;
  color: #333;
  background:linear-gradient(to bottom,#8abaf5,#c9e0fc ,#c5dffb );
  background-size: cover;
}
.brand span{
  color:#023d67;
  font-size:1.6rem;
  font-weight: 700;
}

.hero-section {
 position: relative;
background: linear-gradient(to bottom, #c5dffb, #6caefe, #929cec);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  max-width: 100vw;
  font-family: 'Segoe UI', sans-serif;
  border-radius: 20px;
  overflow: auto;
  height: 50vh;
  overflow: hidden;
}
.container{
  display: flex;
  align-items: center;
  justify-content: center;
    flex-direction: column;
    max-width: 500px;
    padding: 10px 10px;
    width: 100%;
}
.text-content{
  position: relative;
  flex-direction: column;
  padding-left: 10px;
}

h1{
  font-size:2.2rem;
  color: #023986;
  max-width: 80%;
}
h3{
  color: #023986;
  font-size: 1.2rem;
}

.hero-section .description{
  font-size: 1rem;
  color: #012e4e;
  line-height: 1.5;
  font-weight: 500;
  padding-inline: 5px;
  z-index: 2;
   
}
.buttons{
  gap: 20px;
}

.primary-btn
{
  text-decoration: none;
 transition: 0.3s;
 font-size: 1rem;
 font-weight: 600; 
 background: rgba(140, 196, 239, 0.4);
 border-radius: 20px;
 border:1.5px solid #91b9fd;
 padding: 5px 15px;
 color: #023986;
}
.primary-btn:hover {
  transform: scale(1.03);
  background:#8cb6f1;
  color: #fff;
  transition: transform 0.5s ease;
}
 .container .profile-img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 40%;
  height: auto;
 opacity: 0.8;
transition: transform 0.7s ease;
}

.profile-img:hover {
  transform: scale(1.05);
  transition: transform 0.7s ease;
}
@media(min-width:1000px){
    .container .profile-img {
    width: 20%;
    right:0 ;
    bottom: 0;
  }
  .hero-section{
    height: 70vh;
    width:95%;
    max-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 35px;
  }
  .text-content{
    width: 80vw;
    height: 50vw;
  }
  .text-content h1{
    font-size: 3rem;
  }
  .text-content h3{
    font-size: 2rem;
  }
  .text-content .description{
    font-size: 1.5rem;
  }
    .primary-btn{
      font-size: 1.7rem;
      padding: 10px 30px;
      line-height: 100px;
    }
  .container {
    max-width: 100%;
    width: 100vw;
     /* optional for spacing */
  }
}
 @media (min-width: 601px) and (max-width: 999px){
    .container .profile-img {
    width: 25%;
    right:0 ;
    bottom: 0;
  }
  .hero-section{
    width: 100vw;
    max-width: 100%;
    display: flex;
    justify-content: center;
    height: 60vh;
  }
 
}
@media(max-width:600px){
  .hero-section{
    width: 100vw;
    max-width: 100vw;
    height: 65vh;
    overflow: hidden;
    box-sizing: border-box; 
  }
      .container .profile-img {
    width: 35%;
  }
   .text-content{
    position:fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    z-index: 3;
   }
}

