.navbar {
  display: flex;
  justify-content: space-between;
  color: white;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 20px;
  padding-left: 60px;
}

.nav-links li a {
  color: white;
  text-decoration: none;
}

.burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  gap: 5px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: white;
}

/* Responsive styles */
@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background:rgba(129, 137, 244, 0.5);
    position: absolute;
    top: 60px;
    right: 20px;
    padding: 60px;
    border-radius: 8px;
  }

  .nav-links.active {
    display: flex;
  }

  .burger {
    display: flex;
    
  }
}
