* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  max-width: 100%;
}
html {
  scroll-behavior: smooth;
}



.brand span{
  color:#023d67;
  font-size:1.6rem;
  font-weight: 700;
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding:1rem 2rem;
  background-color:transparent;
  text-decoration: none;
  position: sticky;
  top: 0;
  z-index: 1;
  transition: color 0.8s ease;

}
.nav-links{
  list-style: none;            
  display: flex;               
  gap: 20px;                   
  align-items: center;
  margin: 0;
  padding: 1rem;
   font-weight: 600;
  transition: color 0.8s ease;
}
.nav-links li a{
  color: white;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.8s ease;
  padding: 4px 6px;
  border-radius: 20px;
  transition: background-color 0.8s ease, color 0.8s ease;
}
.brand{
   font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar h1 {
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.navbar  a {
  margin-left: 1rem;
  display: inline-block;
  text-decoration: none;
  color: #fefbfb;
  font-weight: 600;
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #012e4e;
  background:#dee7f3;
  border-radius: 20px;
  padding: 5px 8px;
  transition: 0.8s ease;

}

